<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topawar.manage.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.topawar.manage.domain.Article">
            <id property="article_id" column="article_id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="catalogue" column="catalogue" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="article_kind" column="article_kind" jdbcType="VARCHAR"/>
            <result property="pointnum" column="pointnum" jdbcType="INTEGER"/>
            <result property="favoritenum" column="favoritenum" jdbcType="INTEGER"/>
            <result property="imageurl" column="imageurl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,uid,title,
        catalogue,content,article_kind,
        pointnum,favoritenum,imageurl
    </sql>

    <select id="selectList" resultType="com.topawar.manage.domain.Article">
        select *
        from article
    </select>
</mapper>
